<div *ngIf="matchSummary$ | async as matchSummary">
  <!-- <div *ngIf="!(matchSummary$ | async)">
    <h3>{{ status }}</h3>
  </div> -->
  <div>
    <h1>Wedstrijd informatie</h1>
  </div>  
  <div>
    <!-- <p>{{ matchSummary.meta | json }}</p> -->
    <h3>Thuis: {{ matchSummary.meta.home_team }}</h3>
    <h3>Uit: {{ matchSummary.meta.away_team }}</h3>
    <p>Score: {{ matchSummary.meta.final_score }}</p>
    <p>Datum: {{ matchService.matchDate(matchSummary.meta) }}</p>
    <p>Divisie: {{ matchSummary.meta.league }}</p>
  </div>
  <div>
    <h1>Samenvattingen</h1>
  </div>
  <div>
    <h3>Neutraal</h3>
    <p><b>Titel: </b>{{ matchSummary.content.neutral.title }}</p>
    <p><b>Algemeen: </b>{{ matchSummary.content.neutral.general }}</p>
    <p><b>Statistieken: </b>{{ matchSummary.content.neutral.game_statistics }}</p>
    <p><b>Verloop: </b>{{ matchSummary.content.neutral.game_course }}</p>
  </div>
  <div>
    <h3>Thuis</h3>
    <p><b>Titel: </b>{{ matchSummary.content.home_team.title }}</p>
    <p><b>Algemeen: </b>{{ matchSummary.content.home_team.general }}</p>
    <p><b>Statistieken: </b>{{ matchSummary.content.home_team.game_statistics }}</p>
    <p><b>Verloop: </b>{{ matchSummary.content.home_team.game_course }}</p>
  </div>
  <div>
    <h3>Uit</h3>
    <p><b>Titel: </b>{{ matchSummary.content.away_team.title }}</p>
    <p><b>Algemeen: </b>{{ matchSummary.content.away_team.general }}</p>
    <p><b>Statistieken: </b>{{ matchSummary.content.away_team.game_statistics }}</p>
    <p><b>Verloop: </b>{{ matchSummary.content.away_team.game_course }}</p>
  </div>

  <!-- <p>
    Summary: {{ matchSummary.content | json }}
  </p> -->
</div>